.i {
    font-size: 24px;
}

.card {
    border-radius: 15px;
    padding: 30px 20px;
    box-shadow: 0 10px 20px rgba(203, 2, 2, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    text-align: center;

}

.card:hover {
    transform: translateY(-10px); /* Card lift effect */
    box-shadow: 0 20px 30px rgba(199, 13, 13, 0.2); /* More shadow on hover */
  }


.svg {
    display: inline;
}