@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'bootstrap/dist/css/bootstrap.css';
.customicon {
    color:#21DB53;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: xx-large;
    
}

